
#footer-section {
  width: 100%;
  height: 100%;
  background-color: black;
}

.container-Footer {
  width: auto;
  max-width: 680px;
  padding: 0 15px;
}
.container-Footer .text-muted {
  margin: 20px 0;
}
.footertext {
  color: #ffffff;
}

